h1 {color:black; font-size:30px;}

.redParagraph {color:red;}

#lastParagraph {font-size: 28px; font-family: serif;}

#weirdFont {font-family: monospace; font-size: 26px;}


.biggerFont {font-size: 28px; font-family: serif;}






(!sectionTwo {font-family: cursive;}!)
